.snackbar-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  //slide-left animation
  .slide-left {
    margin-left: -100px;
    -webkit-animation: slide-left 0.5s forwards;
    animation: slide-left 0.5s forwards;
  }
  
  @-webkit-keyframes slide-left {
    100% {
      margin-left: 0;
    }
  }
  
  @keyframes slide-left {
    100% {
      margin-left: 0;
    }
  }
  
  //slide-right animation
  .slide-right {
    margin-right: -100px;
    -webkit-animation: slide-right 0.5s forwards;
    animation: slide-right 0.5s forwards;
  }
  
  @-webkit-keyframes slide-right {
    100% {
      margin-right: 0;
    }
  }
  
  @keyframes slide-right {
    100% {
      margin-right: 0;
    }
  }
  
  //slide-up animation
  .slide-up {
    margin-top: -100px;
    -webkit-animation: slide-up 0.5s forwards;
    animation: slide-up 0.5s forwards;
  }
  
  @-webkit-keyframes slide-up {
    100% {
      margin-top: 0;
    }
  }
  
  @keyframes slide-up {
    100% {
      margin-top: 0;
    }
  }
  
  //slide-down animation
  .slide-down {
    margin-bottom: -100px;
    -webkit-animation: slide-down 0.5s forwards;
    animation: slide-down 0.5s forwards;
  }
  
  @-webkit-keyframes slide-down {
    100% {
      margin-bottom: 0;
    }
  }
  
  @keyframes slide-down {
    100% {
      margin-bottom: 0;
    }
  }
  
  //zoom-in animation
  .zoom {
    animation: zoom-in-zoom-out 0.5s forwards;
    transform: scale(0.5, 0.5);
  }
  
  @keyframes zoom-in-zoom-out {
    100% {
      transform: scale(1, 1);
    }
  }
  